/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////Header/////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

header {
    /*-----background head-----*/
    text-align: center;
    font-weight: bold;
    /*-----stick to top et sroll-----*/
    position: sticky;
    top: 0;
    padding: 10px 16px;
}

header ul {
    /*----aligne la liste horizontalement sans puce-----*/
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

header ul li {
    /*------ecart entre éléments------*/
    margin-inline: 1vw;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////Footer/////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

footer {
    /*-------barre footer------*/
    background-color: rgb(10, 10, 10);
    padding: 1vw;
    text-align: center;
    font-weight: bold;
    /*----stuck en bas-------*/
    position: relative;
    bottom: 0;
    width: 100%;
}

footer ul {
    /*----aligne la liste horizontalement sans puce-----*/
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

footer ul li {
    /*------ecart entre éléments------*/
    margin-inline: 1vw;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////body//////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.gradient-custom {
    /* fallback for old browsers */
    background: #ffa7a7;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(10,10,10,1), rgba(100,0,25,1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(rgba(50,0,25,1),rgba(10,10,10,1))
  }

h2 {
    text-align: center;
}

body {
    margin-top: 10em;
    background-repeat: no-repeat;
}

.logo_main {
    margin-top: 10px;
    width: 750px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 0 0.75rem crimson);
}

.nomorg {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color:rgba(255,255,255,0.8);
    text-shadow: 2px 2px rgba(100,0,25,1);
}

.slogan {
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////presentation//////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.presentation_p {
    margin-inline-start: 15px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////Historique////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.carte_temp {
    width: 1080px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////SHOP//////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.prod {
    margin-bottom: 25px;
    border-style: solid;
    width: 400px;
    height: 400px;
}

.prodrow {
    flex-direction: row;
}

/*////////////////////////////////////////////////////////*/
/*///////////////////////Jeux/////////////////////////////*/
/*////////////////////////////////////////////////////////*/

.shop_gta {
    height: 400px;
    width: 400px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////orga//////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.orga {
    margin-top: 25px;
    border-style: solid;
    width: 300px;
    height: 300px;
    flex-direction: row;
}