/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////Header/////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

header {
    /*-----background head-----*/
    text-align: center;
    font-weight: bold;
    /*-----stick to top et sroll-----*/
    position: sticky;
    top: 0;
    padding: 10px 16px;
    /*--fix img passant au dessus du header--*/
    z-index: 1;
}

header ul {
    /*----aligne la liste horizontalement sans puce-----*/
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

header ul li {
    /*------ecart entre éléments------*/
    margin-inline: 1vw;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////Footer/////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

footer {
    /*-------barre footer------*/
    background-color: rgb(10, 10, 10);
    padding: 1vw;
    text-align: center;
    font-weight: bold;
    /*----stuck en bas-------*/
    position: relative;
    bottom: 0;
    width: 100%;
}

footer ul {
    /*----aligne la liste horizontalement sans puce-----*/
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

footer ul li {
    /*------ecart entre éléments------*/
    margin-inline: 1vw;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////body//////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.gradient-custom {
    /* fallback for old browsers */
    background: #ffa7a7;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(rgb(80, 0, 0),rgba(10,10,10,1))
  }

h2 {
    text-align: center;
}

/*
H3 edit plus bas (categorie organisation)
*/

body {
    margin-top: 10em;
    background-repeat: no-repeat;
}

.logo_main {
    margin-top: 100px;
    width: 750px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 0 0.75rem rgb(255, 0, 0));
    animation-name: anim_logo;
    animation-duration: 2s;
}

@keyframes anim_logo {
    0%{
      transform: rotate(0deg);
    }
    50%{
        filter:drop-shadow(0 0 0.75rem rgb(255, 255, 255));
    }
    100% {
      transform: rotate(360deg);
    }
  }

.nomorg {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color:rgba(255,255,255,0.8);
    text-shadow: 2px 2px rgba(100,0,25,1);
}

.slogan {
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    animation-name: anim_slogan;
    animation-duration: 2s;
}

@keyframes anim_slogan {
    0%{
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////presentation//////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.presentation_p {
    margin-inline-start: 15px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////Historique////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.carte_temp {
    width: 1080px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////SHOP//////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.prodrow {
    flex-direction: row;
}

.prodrow² {
    flex-direction: row;
    margin-top: 200px;
}

/*-------------------Box sample-------------------*/

.prod {
    margin-bottom: 25px;
    height: 400px;
    width: 400px;
    border-style: solid;
        /* fallback for old browsers */
        background: rgb(191,177,120); 
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(rgba(80,0,0,1),rgba(10,10,10,1))
}

/*////////////////////////////////////////////////////////*/
/*///////////////////////Jeux/////////////////////////////*/
/*////////////////////////////////////////////////////////*/

/*-------------------GTA-------------------*/

.shop_gta {
    display: block;
    margin-left: 50px;
    margin-top: 110px;
    filter: drop-shadow(0 0 0.75rem rgb(255, 0, 0));
}

/*-------------------IW-------------------*/

.shop_iw {
    display: block;
    margin-left: 45px;
    margin-top: 110px;
    filter: drop-shadow(0 0 0.75rem rgb(255, 0, 0));
}

/*-------------------UK-------------------*/

.shop_UK {
    display: block;
    margin-left: 65px;
    margin-top: 120px;
    filter: drop-shadow(0 0 0.75rem rgb(255, 0, 0));
}

/*-------------------PD2-------------------*/

.shop_PD2 {
    display: block;
    margin-left: 55px;
    margin-top: 120px;
    filter: drop-shadow(0 0 0.75rem rgb(255, 0, 0));
}

/*-------------------MC-------------------*/

.shop_mc {
    display: block;
    margin-left: 50px;
    margin-top: 120px;
    filter: drop-shadow(0 0 0.75rem rgb(255, 0, 0));
}

/*-------------------MKW-------------------*/

.shop_mkw {
    display: block;
    margin-left: 55px;
    margin-top: 120px;
    filter: drop-shadow(0 0 0.75rem rgb(255, 0, 0));
}

/*-------------------PS5C-------------------*/

.shop_ps5c {
    display: block;
    margin-left: 45px;
    margin-top: 60px;
    filter: drop-shadow(0 0 0.75rem rgb(255, 0, 0));
}

/*-------------------Oculus-------------------*/

.shop_oculus {
    display: block;
    margin-left: 55px;
    margin-top: 100px;
    filter: drop-shadow(0 0 0.75rem rgb(255, 0, 0));
}

/*-------------------F1 23-------------------*/

.shop_F123 {
    display: block;
    margin-left: 55px;
    margin-top: 110px;
    filter: drop-shadow(0 0 0.75rem rgb(255, 0, 0));
}

/*-------------------Screen-------------------*/

.shop_ecran {
    display: block;
    margin-left: 55px;
    margin-top: 90px;
    filter: drop-shadow(0 0 0.75rem rgb(255, 0, 0));
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////orga//////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.orgarow {
    flex-direction: row;
}

.orga {
    margin-top: 25px;
    border-style: solid;
    width: 300px;
    height: 300px;
    flex-direction: row;
}

H3, .organom {
    text-align: center;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////template sell/////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.prod_template {
    margin-bottom: 38px;
    height: 600px;
    width: 400px;
    border-style: solid;
        /* fallback for old browsers */
        background: rgb(191,177,120); 
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(rgba(80,0,0,1),rgba(10,10,10,1))
}

.blocs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*-------------------PS5C-------------------*/

.PS5C_cover {
    margin-left: 12%;
    margin-top: 30%;
}

/*-------------------Oculus-------------------*/

.occulus_cover {
    margin-left: 12%;
    margin-top: 40%;
}

/*-------------------Screen-------------------*/

.ecran_cover {
    margin-left: 12%;
    margin-top: 35%;
}

/*--------------------------------------------*/
/*--------------------BTN---------------------*/
/*--------------------------------------------*/

.btn-outline-danger {
    border-color: #ff0000 !important;
    color: #ff0000 !important;
}

.btn-outline-danger:hover, .btn-outline-danger:active {
    background-color: #ff0000 !important;
    color: #ffffff !important;
}